# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

tests/data/*